/* _variables.scss */
$font-family: 'Arial', sans-serif;
$text-color: #333;
$primary-color: #1E3A8A;  // Un bleu foncé (Tailwind bg-blue-800)
$dark-color: #111;
$light-gray: #F3F4F6; // Tailwind bg-gray-100
