.footer {
  background-color: rgba(29, 78, 216, 0.9); // Couleur de fond
  color: white; // Couleur du texte
  text-align: center;
  padding: 1rem; // Espacement vertical
  margin-top: 2rem; // Marges supérieures
  font-size: 1rem; // Taille de la police
}
