@import './_variables';

.header {
  .navbar {
    background-color: #1e3a8a; // Couleur personnalisée
  }

  .navbar-brand img {
    width: 8rem;
    height: auto;
  }

  .nav-link {
    color: white !important;
    font-size: 1.2rem;
    transition: color 0.3s ease;

    &:hover {
      color: #38bdf8 !important; // Couleur sur hover
    }
  }

  .navbar-toggler-icon {
    filter: invert(1); // Rend l'icône blanche
  }
}
